.recent_activity {
    margin-top: 8px;
    h6 {
        background: rgba(188, 196, 188, 0.8);
        color: white;
        font-weight: bold;
        padding: 10px 10px;

    }

    .recent_activity_subsection {
        display: flex;
        justify-content: space-between;
        padding: 5px 20px;
        border-bottom: 1px solid rgb(202, 198, 198);


        p {
            padding: 10px 10px;
            font-size: 17px
        }
        img {
            width: 45px;

        }

    }
    div {
        background: rgba(188, 196, 188, 0.8);
        padding: 15px 0px;
        margin-top: 5px;
        // border-bottom: 1px solid rgb(185, 9, 9);

    }
}