.recent_activity {
    margin-top: 8px;
    h6 {
        background: rgba(188, 196, 188, 0.8);
        color: white;
        font-weight: bold;
        padding: 10px 10px;

    }
    div {
        background: rgba(188, 196, 188, 0.3);
        border: 1px solid rgb(114, 111, 111);
        margin: 0px 4px;

    }
    .recent_activity_subsection {
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;


        p {
            padding: 5px 10px;
            font-size: 18px;
            font-weight: 700;
        }
     

    }
   
}