@import url('https://fonts.googleapis.com/css2?family=Corben&display=swap');

header {
    // display: flex;

        #logo         {
            display: inline-block;
            text-decoration: none;
            width: 49%;
            .MuiSvgIcon-root {
                font-size: 35px;
                vertical-align: middle;
                color: rgb(223, 9, 170);
                background: rgb(215, 215, 223);
                margin: 0px 1px;
                padding: 2px;
                border-radius: 10px;
            }
            span {
                font-family: 'Corben', cursive;
               font-size: 26px;
               color: rgb(223, 9, 170);
               font-weight: bold !important;
               letter-spacing: 1px;
            }
          }
          nav     {
            width: 50%;
            display: inline-block;
            text-align: right;

            ul {
                list-style: none;
                margin: 0;
                li {
                    display: inline-block;
                    div {
                    
                        padding: 0px 8px;
                        text-decoration: none;
                        display: block;
                        transition: 0.3s ease all;

                        .account_icon {
                            color: rgba(255, 0, 0, 0.6) !important;
                            font-size: 32px !important;
                        }
                        .notification_icon {
                            color: rgba(255, 0, 0, 1) !important;
                            font-size: 28px !important;
                        }
                    }
                }
            }
          }
    
}