@import url('https://fonts.googleapis.com/css2?family=Corben&display=swap');

header {
   padding: 5px;

        #logo         {
            display: inline-block;
            text-decoration: none;
            width: 35%;
            border: 1px solid black;
            text-align: center;
           
            span {
                text-align: center;
                font-family: 'Corben', cursive;
               font-size: 20px;
               color: black;
               font-weight: bold !important;
               letter-spacing: 1px;
           
             
            }
          }
          nav     {
            width: 60%;
            display: inline-block;
            text-align: right;

            ul {
                list-style: none;
                margin: 0;
                li {
                    display: inline-block;
                    div {
  
                        padding: 0px 10px;
                        text-decoration: none;
                        display: block;
                        transition: 0.3s ease all;

                        .account_icon {
                            color: rgba(255, 0, 0, 0.6) !important;
                            font-size: 34px !important;
                        }
                        .notification_icon {
                            color: rgba(255, 0, 0, 1) !important;
                            font-size: 28px !important;
                        }
                    }
                }
            }
          }
    
}