.homepage {
    margin: 0px 400px;
  
    @media only screen and (max-width: 1112px) {
        margin: 0px 150px;   
    }
    @media only screen and (max-width: 660px) {
    margin: 0px 0px;   
}
}

.section_1 {
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  
    box-shadow:         1px 1px 2px 3px #ccc;
    background:#ff0789;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 3px;
    

    .add_border {
        border-right: 1px solid white;
    }

    .sub_section_1 {
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;

    #red_section {
        color: red;
    }

        h5 {
            display: block;
            border-radius: 50%;
            background-color: white;
            padding: 4px 0px;
            text-align: center;
            width: 50px;
            // width: 40px;
            // height: 40px;
            font-size: 15px !important;
            padding: 10px 8px;
            color: blue;
            font-weight: 600;
        }
        h4 {
            color: white;
            font-weight: 600;
        }
        p {
            color: white;
            font-size: 13px;
            font-weight: 700;
        }
    }
}
#section_2 {
    .select_currency_box {
        margin: 10px;
        border-radius: 5px;
     
        
        #currency_type {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border: 1px solid rgb(202, 198, 198);
            background: rgb(192, 191, 191);
            width: 25%;
            padding: 2px 18px;
            font-weight: 600;
            text-align: center;

            .MuiSvgIcon-root  {
                color: white;
                font-size:25px;
            }
        }
        #currency_value {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border: 1px solid rgb(202, 198, 198);
            background: rgb(233, 228, 228);
            width: 75%;
            padding: 5px 5px;


        }

    }
    h6 {
        color: rgb(0, 145, 255);
        background: rgb(226, 226, 226);
        width: 100%;
        padding-top: 20px;
        margin-top: 20px;
        padding-left: 5px;
    }
    .buttons {
        justify-content: space-between;
        margin: 0px 40px;
        .MuiButton-root {
            color: white;
            background: rgb(0, 153, 255) !important;
            border-radius: 5px !important;
            width: 35%;
            padding: 8px 0px;
        }
    }
}